@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-eskell-small text-primary;
  }
}

@layer fonts {
  @font-face {
    font-family: Eskell Small;
    src: url("/fonts/Eksell-Display-Small.otf");
  }

  @font-face {
    font-family: Eskell Medium;
    src: url("/fonts/Eskell-Display-Medium.otf");
  }

  @font-face {
    font-family: Eskell large;
    src: url("/fonts/Eskell-Display-large.otf");
  }
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }

  .fancy-button {
    --ease: cubic-bezier(0.21, 0.67, 0.23, 1.02);
    --duration: 1000ms;
    @apply p-3 sm:p-4 pl-4 sm:pl-6 rounded-full flex items-center;
  }

  .fancy-button > .text > .text-main,
  .fancy-button > .text > .text-under {
    @apply translate-y-0 ease-[var(--ease)] duration-[var(--duration)];
  }

  .fancy-button:hover > .text > .text-main,
  .fancy-button:hover > .text > .text-under {
    @apply -translate-y-full ease-[var(--ease)] duration-[var(--duration)];
  }

  .fancy-button .background {
    @apply ease-[var(--ease)] duration-[var(--duration)];
  }

  .fancy-button:hover .background {
    @apply scale-y-100;
  }

  .fancy-button div.text {
    @apply grow px-2 sm:px-3 text-lg md:text-xl;
  }

  .fancy-button span.icon {
    @apply grid place-items-center rounded-full w-10 h-10 sm:w-14 sm:h-14;
  }

  .accordion .content {
    @apply max-h-0 overflow-hidden transition-all duration-500 ease-out;
  }

  .accordion button span:last-child {
    @apply transition-transform duration-700 ease-out;
  }
  .accordion[data-accordion-open="true"] button span:last-child {
    @apply rotate-[315deg];
  }
}

@layer custom {
  #team article::before {
    @apply content-[''] absolute w-full h-full -z-[9] inset-0 bg-gradient-to-b from-transparent to-black/40;
  }
}

@layer animation-preset {
  g#hero-image,
  #interaction #interaction-image g#main-image {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }

  svg g {
    transform-box: fill-box;
    transform-origin: -50% -50% !important;
  }

  #underline {
    stroke-dashoffset: 208px;
    stroke-dasharray: 208px;
  }

  .line {
    white-space: nowrap;
  }
}

@layer swiper {
  .team-swiper .swiper-slide {
    @apply !w-[300px];
  }
}
